.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      display: none;
    }
  }
}

.navigation__list.navigation__list--opened {
  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      display: block;
      position: absolute;
      background-color: $color-default-white;
      width: 70%;
      top: 0;
      right: 0;
      height: 80vh;
      z-index: 2;
      padding-left: 15px;
    }
  }
}

.navigation__item {
  position: relative;
  padding: 28px 0;

  @include hover {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        &::before {
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          width: 100%;
          height: 3px;
          background-color: #FFA155;
        }
      }
    }
  }
}

.navigation__item:not(:last-child) {
  margin-right: 32px;
}

.navigation__link {
  color: $color-default-white;
}

.navigation__button {
  position: relative;
  padding-left: 16px;
  padding-right: 28px;
  color: #FFD3AF;

  @include vp-767 {
    padding-left: 0;
  }

  &::after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 21px;
    height: 8px;
    background-image: url("../../img/arrow.svg");
  }
}

.navigation__list--opened .navigation__link {
  color: #232536;

}
